flask
gunicorn
flask_sqlalchemy
flask_mail
flask_babel
flask_wtf
email_validator
flask-admin
flask-login
flask-talisman
flask-limiter
flask-cors
python-dotenv
flask-migrate
pyotp
flask-socketio
python-socketio
aiortc
opencv-python
asgiref
sentry-sdk[flask]
