{% extends "base.html" %}

{% block title %}HelpChain - Свързваме нуждаещи се с доброволци{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Добре дошли в HelpChain!</h1>
            <p class="lead">Свързваме нуждаещи се хора с доброволци за бърза и ефективна помощ в България.</p>
            <a href="{{ url_for('admin_login') }}" class="btn btn-primary">Админ вход</a>
        </div>
    </div>
</div>
{% endblock %}
