{% extends "base.html" %}
{% block title %}Условия за ползване | HelpChain.live{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>{{ _('Условия за ползване') }}</h1>
    <ul>
        <li>{{ _('Платформата е предназначена само за подаване на сигнали за помощ.') }}</li>
        <li>{{ _('Забранено е публикуването на неверни или подвеждащи данни.') }}</li>
        <li>{{ _('Не носим отговорност за съдържанието, предоставено от потребителите.') }}</li>
        <li>{{ _('Сигналите се обработват според възможностите на екипа.') }}</li>
        <li>{{ _('С използването на сайта приемате политиката за поверителност.') }}</li>
    </ul>
</div>

{% endblock %}